<div class="ui items" ng-repeat="source in sources | filter:query | orderBy: orderProp" id="{{ source._id }}">
    <div class="item" >
        <div class="ui medium image">
            <a ng-href="#source/{{ source._id }}">
                <img ng-src="{{ source.cover.url }}">
            </a>
        </div>
        <div class="ui medium image">
            <div class="ui video">
                <video  preload="none" width="300px" controls>
                    <source ng-src="{{ source.src }}"></source>
                </video>
            </div>
        </div>
        <div class="content">
            <div class="header">
              <p>Title: {{ source.name }} </p>
            </div>
            <div class="description">
                Description: {{ source.desc }}
            </div>
            <div class="meta">
                <div class="ui five column grid">
                    <div class="row">
                        <div class="column">
                           <p>Author: {{ source.author }}</p>
                        </div>
                        <div class="column">
                            <p>Play: {{ source.play }}</p>
                        </div>
                        <div class="column">
                            <p>Share: {{ source.share }}</p>
                        </div>
                        <div class="column">
                            <p>During: {{ source.during }}</p>
                        </div>
                        <div class="column">
                            <p>From: <a href="{{ source.pageurl }}">{{ source.srctype }}</a></p>
                        </div>
                        <div class="column">
                            <p>Status: {{ source.status }}</p>
                        </div>
                        <div class="column">
                            <p>Rank: {{ source.rank }}</p>
                        </div>
                        <div class="column">
                            <p>Show: {{ source.show }}</p>
                        </div>
                        <div class="column">
                            <p>Completion: {{ source.completion }}</p>
                        </div>
                        <div class="column">
                            <p>Like: {{ source.like }}</p>
                        </div>
                        <div class="column">
                            <p>Size: {{ source.size }}</p>
                        </div>
                        <div class="column">
                            <p>Comments: {{ source.ncos }}</p>
                        </div>
                        <div class="column">
                            <p>Atime: {{ source.atime | date:'yyyy-MM-dd HH:mm:ss' }}</p>
                        </div>
                    </div>
                </div>
                <div class="ui one column grid">
                    <div class="row">
                        <div class="ui tag labels" >
                            <a class="ui label" ng-repeat="cate in source.cid">{{ cate }}</a>
                        </div>
                    </div>
                </div>
                <div class="ui seven column grid">
                    <div class="row">
                        <div class="ui large buttons" data-id="{{ source._id }}">
                            <button class="ui teal button" source-edit>Edit</button>
                            <button class="ui green button" source-pass>Pass</button>
                            <button class="ui blue button" source-online>Online</button>
                            <button class="ui yellow button" source-refuse>Refuse</button>
                            <button class="ui red button" source-delete>Delete</button>
                        </div>
                        <div class="ui checkbox" style="float: right; margin-right: 5%;">
                            <input type="checkbox">
                            <label>Select</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
</div>
