<div class="ui items" ng-repeat="source in sources | filter:query | orderBy: orderProp">
    <div class="item" >
        <div class="ui medium image">
            <img ng-src="{{ source.cover.url }}" alt="">
        </div>
        <div class="content">
            <div class="header">
              <p>Title: {{ source.title }} </p>
            </div>
            <div class="description">
                Description: {{ source.desc }}
            </div>
            <div class="extra">
            </div>
            <div class="meta">
                <p>Author: {{ source.author }}</p>
                <p>Status: {{ source.status }}</p>
                <p>Rank: {{ source.rank }}</p>
                <p>Atime: {{ source.atime }}</p>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
</div>
